

<div class="site-wrapper">

<div class="col-xs-1">
        </div>
        <div class="col-xs-10">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/i18n/defaults-*.min.js"></script>


  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">QUALITY</th>
      <th scope="col">LOCATION</th>
      <th scope="col">OVERALL SATISFACTION</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>25</td>
      <td>75</td>
      <td>
         <select class="selectpicker" name="response[r41]">
         	<option>-</option>
          <option>100</option>
          <option>95</option>
          <option>90</option>
          <option>85</option>
          <option>80</option>
         <option style="background: #FF0000; color: #fff;">75</option>
          <option>70</option>
          <option>65</option>
          <option>60</option>
          <option>55</option>
          <option>50</option>
          <option>45</option>
          <option>40</option>
          <option>35</option>
          <option>30</option>
          <option style="background: #5cb85c; color: #fff;">25</option>
          <option>20</option>
          <option>15</option>
          <option>10</option>
          <option>5</option>
          <option>0</option>
        </select>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>75</td>
      <td>25</td>
      <td>
         <select class="selectpicker" name="response[r41]">
         	<option>-</option>
          <option>100</option>
          <option>95</option>
          <option>90</option>
          <option>85</option>
          <option>80</option>
         <option style="background: #FF0000; color: #fff;">75</option>
          <option>70</option>
          <option>65</option>
          <option>60</option>
          <option>55</option>
          <option>50</option>
          <option>45</option>
          <option>40</option>
          <option>35</option>
          <option>30</option>
          <option style="background: #5cb85c; color: #fff;">25</option>
          <option>20</option>
          <option>15</option>
          <option>10</option>
          <option>5</option>
          <option>0</option>
        </select>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>40</td>
      <td>60</td>
      <td>
        <select class="selectpicker" name="response[r41]">
        	<option>-</option>
          <option>100</option>
          <option>95</option>
          <option>90</option>
          <option>85</option>
          <option>80</option>
         <option>75</option>
          <option>70</option>
          <option>65</option>
          <option style="background: #FF0000; color: #fff;">60</option>
          <option>55</option>
          <option>50</option>
          <option>45</option>
          <option style="background: #5cb85c; color: #fff;">40</option>
          <option>35</option>
          <option>30</option>
          <option>25</option>
          <option>20</option>
          <option>15</option>
          <option>10</option>
          <option>5</option>
          <option>0</option>
        </select>

      </td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>60</td>
      <td>40</td>
      <td>
         <select class="selectpicker" name="response[r41]">
        	<option>-</option>
          <option>100</option>
          <option>95</option>
          <option>90</option>
          <option>85</option>
          <option>80</option>
         <option>75</option>
          <option>70</option>
          <option>65</option>
          <option style="background: #FF0000; color: #fff;">60</option>
          <option>55</option>
          <option>50</option>
          <option>45</option>
          <option style="background: #5cb85c; color: #fff;">40</option>
          <option>35</option>
          <option>30</option>
          <option>25</option>
          <option>20</option>
          <option>15</option>
          <option>10</option>
          <option>5</option>
          <option>0</option>
        </select>
        
      </td>
     </tr>
     <tr>
      <th scope="row">5</th>
      <td>60</td>
      <td>40</td>
      <td>
          <select class="selectpicker" name="response[r41]">
        	<option>-</option>
          <option>100</option>
          <option>95</option>
          <option>90</option>
          <option>85</option>
          <option>80</option>
         <option>75</option>
          <option>70</option>
          <option>65</option>
          <option style="background: #FF0000; color: #fff;">60</option>
          <option>55</option>
          <option>50</option>
          <option>45</option>
          <option style="background: #5cb85c; color: #fff;">40</option>
          <option>35</option>
          <option>30</option>
          <option>25</option>
          <option>20</option>
          <option>15</option>
          <option>10</option>
          <option>5</option>
          <option>0</option>
        </select>
        
      </td>
     </tr>
     <tr>
      <th scope="row">6</th>
      <td>60</td>
      <td>40</td>
      <td>
          <select class="selectpicker" name="response[r41]">
        	<option>-</option>
          <option>100</option>
          <option>95</option>
          <option>90</option>
          <option>85</option>
          <option>80</option>
         <option>75</option>
          <option>70</option>
          <option>65</option>
          <option style="background: #FF0000; color: #fff;">60</option>
          <option>55</option>
          <option>50</option>
          <option>45</option>
          <option style="background: #5cb85c; color: #fff;">40</option>
          <option>35</option>
          <option>30</option>
          <option>25</option>
          <option>20</option>
          <option>15</option>
          <option>10</option>
          <option>5</option>
          <option>0</option>
        </select>
        
      </td>
     </tr>
     <tr>
      <th scope="row">7</th>
      <td>60</td>
      <td>40</td>
      <td>
         <select class="selectpicker" name="response[r41]">
        	<option>-</option>
          <option>100</option>
          <option>95</option>
          <option>90</option>
          <option>85</option>
          <option>80</option>
         <option>75</option>
          <option>70</option>
          <option>65</option>
          <option style="background: #FF0000; color: #fff;">60</option>
          <option>55</option>
          <option>50</option>
          <option>45</option>
          <option style="background: #5cb85c; color: #fff;">40</option>
          <option>35</option>
          <option>30</option>
          <option>25</option>
          <option>20</option>
          <option>15</option>
          <option>10</option>
          <option>5</option>
          <option>0</option>
        </select>
        
      </td>
     </tr>
     <tr>
      <th scope="row">8</th>
      <td>60</td>
      <td>40</td>
      <td>
         <select class="selectpicker" name="response[r41]">
        	<option>-</option>
          <option>100</option>
          <option>95</option>
          <option>90</option>
          <option>85</option>
          <option>80</option>
         <option>75</option>
          <option>70</option>
          <option>65</option>
          <option style="background: #FF0000; color: #fff;">60</option>
          <option>55</option>
          <option>50</option>
          <option>45</option>
          <option style="background: #5cb85c; color: #fff;">40</option>
          <option>35</option>
          <option>30</option>
          <option>25</option>
          <option>20</option>
          <option>15</option>
          <option>10</option>
          <option>5</option>
          <option>0</option>
        </select>
        
      </td>
     </tr>
     <tr>
      <th scope="row">9</th>
      <td>60</td>
      <td>40</td>
      <td>
          <select class="selectpicker" name="response[r41]">
        	<option>-</option>
          <option>100</option>
          <option>95</option>
          <option>90</option>
          <option>85</option>
          <option>80</option>
         <option>75</option>
          <option>70</option>
          <option>65</option>
          <option style="background: #FF0000; color: #fff;">60</option>
          <option>55</option>
          <option>50</option>
          <option>45</option>
          <option style="background: #5cb85c; color: #fff;">40</option>
          <option>35</option>
          <option>30</option>
          <option>25</option>
          <option>20</option>
          <option>15</option>
          <option>10</option>
          <option>5</option>
          <option>0</option>
        </select>
        
      </td>
     </tr>
     
    
  </tbody>
</table>
<style>



th{
  text-align: center;
}

  </style>

  <div class="actions lead">
    <%= link_to 'Done', done_index_url, class: 'btn btn-lg btn-secondary' %>
  </div>
         

        </div>


</div>






<style>

h3{
	text-align: center;
}
body {
 
  text-align: left;
}

.align-items-center{

border: 1px solid black;

}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
	padding-top: 50px;
  text-align: center;
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  
}
</style>