

<div class="site-wrapper">

<div class="col-xs-1">
        </div>
        <div class="col-xs-10">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/i18n/defaults-*.min.js"></script>


  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">QUALITY</th>
      <th scope="col">LOCATION</th>
      <th scope="col">OVERALL SATISFACTION</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>25%</td>
      <td>75%</td>
      <td>
         <select class="selectpicker" name="response[r41]">
          <option>Satisfaction</option>
          <option style="background: #FF6000; color: #000;">100%</option>
          <option style="background: #FF7000; color: #000;">-</option>
          <option style="background: #FF8000; color: #000;">-</option>
          <option style="background: #FF9000; color: #000;">Quality</option>
          <option style="background: #FFA000; color: #000;">-</option>
         <option style="background: #FFB000; color: #000;">-</option>
          <option style="background: #FFC000; color: #000;">-</option>
          <option style="background: #FFD000; color: #000;">-</option>
          <option style="background: #FFE000; color: #000;">-</option>
          <option style="background: #FFF000; color: #000;">-</option>
          <option style="background: #FFFF00; color: #000;">50%</option>
          <option style="background: #E0FF00; color: #000;">-</option>
          <option style="background: #D0FF00; color: #000;">-</option>
          <option style="background: #C0FF00; color: #000;">-</option>
          <option style="background: #A0FF00; color: #000;">-</option>
          <option style="background: #90FF00; color: #000;">-</option>
          <option style="background: #80FF00; color: #000;">Location</option>
          <option style="background: #70FF00; color: #000;">-</option>
          <option style="background: #60FF00; color: #000;">-</option>
          <option style="background: #50FF00; color: #000;">-</option>
          <option style="background: #40FF00; color: #000;">0%</option>
        </select>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>75%</td>
      <td>25%</td>
      <td>
         <select class="selectpicker" name="response[r41]">
          <option>Satisfaction</option>
          <option style="background: #FF6000; color: #000;">100%</option>
          <option style="background: #FF7000; color: #000;">-</option>
          <option style="background: #FF8000; color: #000;">-</option>
          <option style="background: #FF9000; color: #000;">Quality</option>
          <option style="background: #FFA000; color: #000;">-</option>
         <option style="background: #FFB000; color: #000;">-</option>
          <option style="background: #FFC000; color: #000;">-</option>
          <option style="background: #FFD000; color: #000;">-</option>
          <option style="background: #FFE000; color: #000;">-</option>
          <option style="background: #FFF000; color: #000;">-</option>
          <option style="background: #FFFF00; color: #000;">50%</option>
          <option style="background: #E0FF00; color: #000;">-</option>
          <option style="background: #D0FF00; color: #000;">-</option>
          <option style="background: #C0FF00; color: #000;">-</option>
          <option style="background: #A0FF00; color: #000;">-</option>
          <option style="background: #90FF00; color: #000;">-</option>
          <option style="background: #80FF00; color: #000;">Location</option>
          <option style="background: #70FF00; color: #000;">-</option>
          <option style="background: #60FF00; color: #000;">-</option>
          <option style="background: #50FF00; color: #000;">-</option>
          <option style="background: #40FF00; color: #000;">0%</option>
        </select>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>60%</td>
      <td>40%</td>
      <td>
        <select class="selectpicker" name="response[r41]">
          <option>Satisfaction</option>
          <option style="background: #FF6000; color: #000;">100%</option>
          <option style="background: #FF7000; color: #000;">-</option>
          <option style="background: #FF8000; color: #000;">-</option>
          <option style="background: #FF9000; color: #000;">Quality</option>
          <option style="background: #FFA000; color: #000;">-</option>
         <option style="background: #FFB000; color: #000;">-</option>
          <option style="background: #FFC000; color: #000;">-</option>
          <option style="background: #FFD000; color: #000;">-</option>
          <option style="background: #FFE000; color: #000;">-</option>
          <option style="background: #FFF000; color: #000;">-</option>
          <option style="background: #FFFF00; color: #000;">50%</option>
          <option style="background: #E0FF00; color: #000;">-</option>
          <option style="background: #D0FF00; color: #000;">-</option>
          <option style="background: #C0FF00; color: #000;">-</option>
          <option style="background: #A0FF00; color: #000;">-</option>
          <option style="background: #90FF00; color: #000;">-</option>
          <option style="background: #80FF00; color: #000;">Location</option>
          <option style="background: #70FF00; color: #000;">-</option>
          <option style="background: #60FF00; color: #000;">-</option>
          <option style="background: #50FF00; color: #000;">-</option>
          <option style="background: #40FF00; color: #000;">0%</option>
        </select>

      </td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>60%</td>
      <td>40%</td>
      <td>
         <select class="selectpicker" name="response[r41]">
          <option>Satisfaction</option>
          <option style="background: #FF6000; color: #000;">100%</option>
          <option style="background: #FF7000; color: #000;">-</option>
          <option style="background: #FF8000; color: #000;">-</option>
          <option style="background: #FF9000; color: #000;">Quality</option>
          <option style="background: #FFA000; color: #000;">-</option>
         <option style="background: #FFB000; color: #000;">-</option>
          <option style="background: #FFC000; color: #000;">-</option>
          <option style="background: #FFD000; color: #000;">-</option>
          <option style="background: #FFE000; color: #000;">-</option>
          <option style="background: #FFF000; color: #000;">-</option>
          <option style="background: #FFFF00; color: #000;">50%</option>
          <option style="background: #E0FF00; color: #000;">-</option>
          <option style="background: #D0FF00; color: #000;">-</option>
          <option style="background: #C0FF00; color: #000;">-</option>
          <option style="background: #A0FF00; color: #000;">-</option>
          <option style="background: #90FF00; color: #000;">-</option>
          <option style="background: #80FF00; color: #000;">Location</option>
          <option style="background: #70FF00; color: #000;">-</option>
          <option style="background: #60FF00; color: #000;">-</option>
          <option style="background: #50FF00; color: #000;">-</option>
          <option style="background: #40FF00; color: #000;">0%</option>
        </select>
      </td>
     </tr>
     <tr>
      <th scope="row">5</th>
     <td>60%</td>
      <td>40%</td>
      <td>
         <select class="selectpicker" name="response[r41]">
          <option>Satisfaction</option>
          <option style="background: #FF6000; color: #000;">100%</option>
          <option style="background: #FF7000; color: #000;">-</option>
          <option style="background: #FF8000; color: #000;">-</option>
          <option style="background: #FF9000; color: #000;">Quality</option>
          <option style="background: #FFA000; color: #000;">-</option>
         <option style="background: #FFB000; color: #000;">-</option>
          <option style="background: #FFC000; color: #000;">-</option>
          <option style="background: #FFD000; color: #000;">-</option>
          <option style="background: #FFE000; color: #000;">-</option>
          <option style="background: #FFF000; color: #000;">-</option>
          <option style="background: #FFFF00; color: #000;">50%</option>
          <option style="background: #E0FF00; color: #000;">-</option>
          <option style="background: #D0FF00; color: #000;">-</option>
          <option style="background: #C0FF00; color: #000;">-</option>
          <option style="background: #A0FF00; color: #000;">-</option>
          <option style="background: #90FF00; color: #000;">-</option>
          <option style="background: #80FF00; color: #000;">Location</option>
          <option style="background: #70FF00; color: #000;">-</option>
          <option style="background: #60FF00; color: #000;">-</option>
          <option style="background: #50FF00; color: #000;">-</option>
          <option style="background: #40FF00; color: #000;">0%</option>
        </select>
        
      </td>
     </tr>
     <tr>
      <th scope="row">6</th>
     <td>60%</td>
      <td>40%</td>
      <td>
          <select class="selectpicker" name="response[r41]">
          <option>Satisfaction</option>
          <option style="background: #FF6000; color: #000;">100%</option>
          <option style="background: #FF7000; color: #000;">-</option>
          <option style="background: #FF8000; color: #000;">-</option>
          <option style="background: #FF9000; color: #000;">Quality</option>
          <option style="background: #FFA000; color: #000;">-</option>
         <option style="background: #FFB000; color: #000;">-</option>
          <option style="background: #FFC000; color: #000;">-</option>
          <option style="background: #FFD000; color: #000;">-</option>
          <option style="background: #FFE000; color: #000;">-</option>
          <option style="background: #FFF000; color: #000;">-</option>
          <option style="background: #FFFF00; color: #000;">50%</option>
          <option style="background: #E0FF00; color: #000;">-</option>
          <option style="background: #D0FF00; color: #000;">-</option>
          <option style="background: #C0FF00; color: #000;">-</option>
          <option style="background: #A0FF00; color: #000;">-</option>
          <option style="background: #90FF00; color: #000;">-</option>
          <option style="background: #80FF00; color: #000;">Location</option>
          <option style="background: #70FF00; color: #000;">-</option>
          <option style="background: #60FF00; color: #000;">-</option>
          <option style="background: #50FF00; color: #000;">-</option>
          <option style="background: #40FF00; color: #000;">0%</option>
        </select>
        
      </td>
     </tr>
     <tr>
      <th scope="row">7</th>
     <td>60%</td>
      <td>40%</td>
      <td>
         <select class="selectpicker" name="response[r41]">
          <option>Satisfaction</option>
          <option style="background: #FF6000; color: #000;">100%</option>
          <option style="background: #FF7000; color: #000;">-</option>
          <option style="background: #FF8000; color: #000;">-</option>
          <option style="background: #FF9000; color: #000;">Quality</option>
          <option style="background: #FFA000; color: #000;">-</option>
         <option style="background: #FFB000; color: #000;">-</option>
          <option style="background: #FFC000; color: #000;">-</option>
          <option style="background: #FFD000; color: #000;">-</option>
          <option style="background: #FFE000; color: #000;">-</option>
          <option style="background: #FFF000; color: #000;">-</option>
          <option style="background: #FFFF00; color: #000;">50%</option>
          <option style="background: #E0FF00; color: #000;">-</option>
          <option style="background: #D0FF00; color: #000;">-</option>
          <option style="background: #C0FF00; color: #000;">-</option>
          <option style="background: #A0FF00; color: #000;">-</option>
          <option style="background: #90FF00; color: #000;">-</option>
          <option style="background: #80FF00; color: #000;">Location</option>
          <option style="background: #70FF00; color: #000;">-</option>
          <option style="background: #60FF00; color: #000;">-</option>
          <option style="background: #50FF00; color: #000;">-</option>
          <option style="background: #40FF00; color: #000;">0%</option>
        </select>
        
      </td>
     </tr>
     <tr>
      <th scope="row">8</th>
      <td>60%</td>
      <td>40%</td>
      <td>
         <select class="selectpicker" name="response[r41]">
          <option>Satisfaction</option>
          <option style="background: #FF6000; color: #000;">100%</option>
          <option style="background: #FF7000; color: #000;">-</option>
          <option style="background: #FF8000; color: #000;">-</option>
          <option style="background: #FF9000; color: #000;">Quality</option>
          <option style="background: #FFA000; color: #000;">-</option>
         <option style="background: #FFB000; color: #000;">-</option>
          <option style="background: #FFC000; color: #000;">-</option>
          <option style="background: #FFD000; color: #000;">-</option>
          <option style="background: #FFE000; color: #000;">-</option>
          <option style="background: #FFF000; color: #000;">-</option>
          <option style="background: #FFFF00; color: #000;">50%</option>
          <option style="background: #E0FF00; color: #000;">-</option>
          <option style="background: #D0FF00; color: #000;">-</option>
          <option style="background: #C0FF00; color: #000;">-</option>
          <option style="background: #A0FF00; color: #000;">-</option>
          <option style="background: #90FF00; color: #000;">-</option>
          <option style="background: #80FF00; color: #000;">Location</option>
          <option style="background: #70FF00; color: #000;">-</option>
          <option style="background: #60FF00; color: #000;">-</option>
          <option style="background: #50FF00; color: #000;">-</option>
          <option style="background: #40FF00; color: #000;">0%</option>
        </select>
        
      </td>
     </tr>
     <tr>
      <th scope="row">9</th>
      <td>60%</td>
      <td>40%</td>
      <td>
          <select class="selectpicker" name="response[r41]">
          <option>Satisfaction</option>
          <option style="background: #FF6000; color: #000;">100%</option>
          <option style="background: #FF7000; color: #000;">-</option>
          <option style="background: #FF8000; color: #000;">-</option>
          <option style="background: #FF9000; color: #000;">Quality</option>
          <option style="background: #FFA000; color: #000;">-</option>
         <option style="background: #FFB000; color: #000;">-</option>
          <option style="background: #FFC000; color: #000;">-</option>
          <option style="background: #FFD000; color: #000;">-</option>
          <option style="background: #FFE000; color: #000;">-</option>
          <option style="background: #FFF000; color: #000;">-</option>
          <option style="background: #FFFF00; color: #000;">50%</option>
          <option style="background: #E0FF00; color: #000;">-</option>
          <option style="background: #D0FF00; color: #000;">-</option>
          <option style="background: #C0FF00; color: #000;">-</option>
          <option style="background: #A0FF00; color: #000;">-</option>
          <option style="background: #90FF00; color: #000;">-</option>
          <option style="background: #80FF00; color: #000;">Location</option>
          <option style="background: #70FF00; color: #000;">-</option>
          <option style="background: #60FF00; color: #000;">-</option>
          <option style="background: #50FF00; color: #000;">-</option>
          <option style="background: #40FF00; color: #000;">0%</option>
        </select>
        
      </td>
     </tr>
     
    
  </tbody>
</table>
<style>



th{
  text-align: center;
}

  </style>

  <div class="actions lead">
    <%= link_to "Take Survey 3", "https://data-numeric.herokuapp.com/numeric3/index" , class: 'btn btn-lg btn-secondary'  %>
  </div>
         

        </div>


</div>






<style>

h3{
  text-align: center;
}
body {
 
  text-align: left;
}

.align-items-center{

border: 1px solid black;

}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  padding-top: 50px;
  text-align: center;
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  
}
</style>