

<div class="site-wrapper">

<div class="col-xs-1">
        </div>
        <div class="col-xs-10">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/i18n/defaults-*.min.js"></script>


  <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">QUALITY</th>
      <th scope="col">LOCATION</th>
      <th scope="col">OVERALL SATISFACTION</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>60%</td>
      <td>30%</td>
      <td>
        <select class="selectpicker" name="response[r41]">
          <option>Satisfaction</option>
          
          <option style="background: #8CFF00; color: #000;">100%</option>
          <option style="background: #90FF00; color: #000;">98%</option>
          <option style="background: #94FF00; color: #000;">96%</option>
          <option style="background: #98FF00; color: #000;">94%</option>
          <option style="background: #9CFF00; color: #000;">92%</option>
          <option style="background: #A0FF00; color: #000;">90%</option>
          <option style="background: #A4FF00; color: #000;">88%</option>
          <option style="background: #A8FF00; color: #000;">86%</option>
          <option style="background: #ACFF00; color: #000;">84%</option>
          <option style="background: #B0FF00; color: #000;">82%</option>
          <option style="background: #B4FF00; color: #000;">80%</option>
          <option style="background: #B8FF00; color: #000;">78%</option>

          <option style="background: #BCFF00; color: #000;">76%</option>
          <option style="background: #C0FF00; color: #000;">74%</option>
          <option style="background: #C4FF00; color: #000;">72%</option>
          <option style="background: #C8FF00; color: #000;">70%</option>
          <option style="background: #CCFF00; color: #000;">68%</option>
          <option style="background: #D0FF00; color: #000;">66%</option>
          <option style="background: #D4FF00; color: #000;">64%</option>
          <option style="background: #D8FF00; color: #000;">62%</option>
          <option style="background: #DCFF00; color: #000;">60% - QUALITY</option>
          <option style="background: #E0FF00; color: #000;">58%</option>
          <option style="background: #E4FF00; color: #000;">56%</option>
          <option style="background: #E8FF00; color: #000;">54%</option>
          <option style="background: #ECFF00; color: #000;">52%</option>

          <option style="background: #F8FF00; color: #000;">50%</option>

          <option style="background: #FFFC00; color: #000;">48%</option>
          <option style="background: #FFF800; color: #000;">46%</option>
          <option style="background: #FFF400; color: #000;">44%</option>
          <option style="background: #FFF000; color: #000;">42%</option>
          <option style="background: #FFEC00; color: #000;">40%</option>
          <option style="background: #FFE800; color: #000;">38%</option>

          <option style="background: #FFE400; color: #000;">36%</option>
          <option style="background: #FFE000; color: #000;">34%</option>
          <option style="background: #FFDC00; color: #000;">32%</option>
          <option style="background: #FFD800; color: #000;">30% - LOCATION</option>
          <option style="background: #FFD400; color: #000;">28%</option>
          <option style="background: #FFD000; color: #000;">26%</option>
          <option style="background: #FFCC00; color: #000;">24%</option>
          <option style="background: #FFC800; color: #000;">22%</option>
          <option style="background: #FFC400; color: #000;">20%</option>
          <option style="background: #FFC000; color: #000;">18%</option>
          <option style="background: #FFBC00; color: #000;">16%</option>
          <option style="background: #FFB800; color: #000;">14%</option>
          <option style="background: #FFB400; color: #000;">12%</option>
          <option style="background: #FFB000; color: #000;">10%</option>
          <option style="background: #FFAC00; color: #000;">8%</option>
          <option style="background: #FFA800; color: #000;">6%</option>
          <option style="background: #FFA400; color: #000;">4%</option>
          <option style="background: #FFA000; color: #000;">2%</option>
          <option style="background: #FF9C00; color: #000;">0%</option>
        </select>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>60%</td>
      <td>30%</td>
      <td>
        <select class="selectpicker" name="response[r41]">
          <option>Satisfaction</option>
          
          <option style="background: #8CFF00; color: #000;">100%</option>
          <option style="background: #90FF00; color: #000;">98%</option>
          <option style="background: #94FF00; color: #000;">96%</option>
          <option style="background: #98FF00; color: #000;">94%</option>
          <option style="background: #9CFF00; color: #000;">92%</option>
          <option style="background: #A0FF00; color: #000;">90%</option>
          <option style="background: #A4FF00; color: #000;">88%</option>
          <option style="background: #A8FF00; color: #000;">86%</option>
          <option style="background: #ACFF00; color: #000;">84%</option>
          <option style="background: #B0FF00; color: #000;">82%</option>
          <option style="background: #B4FF00; color: #000;">80%</option>
          <option style="background: #B8FF00; color: #000;">78%</option>

          <option style="background: #BCFF00; color: #000;">76%</option>
          <option style="background: #C0FF00; color: #000;">74%</option>
          <option style="background: #C4FF00; color: #000;">72%</option>
          <option style="background: #C8FF00; color: #000;">70%</option>
          <option style="background: #CCFF00; color: #000;">68%</option>
          <option style="background: #D0FF00; color: #000;">66%</option>
          <option style="background: #D4FF00; color: #000;">64%</option>
          <option style="background: #D8FF00; color: #000;">62%</option>
          <option style="background: #DCFF00; color: #000;">60% - QUALITY</option>
          <option style="background: #E0FF00; color: #000;">58%</option>
          <option style="background: #E4FF00; color: #000;">56%</option>
          <option style="background: #E8FF00; color: #000;">54%</option>
          <option style="background: #ECFF00; color: #000;">52%</option>

          <option style="background: #F8FF00; color: #000;">50%</option>

          <option style="background: #FFFC00; color: #000;">48%</option>
          <option style="background: #FFF800; color: #000;">46%</option>
          <option style="background: #FFF400; color: #000;">44%</option>
          <option style="background: #FFF000; color: #000;">42%</option>
          <option style="background: #FFEC00; color: #000;">40%</option>
          <option style="background: #FFE800; color: #000;">38%</option>

          <option style="background: #FFE400; color: #000;">36%</option>
          <option style="background: #FFE000; color: #000;">34%</option>
          <option style="background: #FFDC00; color: #000;">32%</option>
          <option style="background: #FFD800; color: #000;">30% - LOCATION</option>
          <option style="background: #FFD400; color: #000;">28%</option>
          <option style="background: #FFD000; color: #000;">26%</option>
          <option style="background: #FFCC00; color: #000;">24%</option>
          <option style="background: #FFC800; color: #000;">22%</option>
          <option style="background: #FFC400; color: #000;">20%</option>
          <option style="background: #FFC000; color: #000;">18%</option>
          <option style="background: #FFBC00; color: #000;">16%</option>
          <option style="background: #FFB800; color: #000;">14%</option>
          <option style="background: #FFB400; color: #000;">12%</option>
          <option style="background: #FFB000; color: #000;">10%</option>
          <option style="background: #FFAC00; color: #000;">8%</option>
          <option style="background: #FFA800; color: #000;">6%</option>
          <option style="background: #FFA400; color: #000;">4%</option>
          <option style="background: #FFA000; color: #000;">2%</option>
          <option style="background: #FF9C00; color: #000;">0%</option>
        </select>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>40%</td>
      <td>60%</td>
      <td>
        <select class="selectpicker" name="response[r41]">
          <option>Satisfaction</option>
          
          <option style="background: #8CFF00; color: #000;">100%</option>
          <option style="background: #90FF00; color: #000;">98%</option>
          <option style="background: #94FF00; color: #000;">96%</option>
          <option style="background: #98FF00; color: #000;">94%</option>
          <option style="background: #9CFF00; color: #000;">92%</option>
          <option style="background: #A0FF00; color: #000;">90%</option>
          <option style="background: #A4FF00; color: #000;">88%</option>
          <option style="background: #A8FF00; color: #000;">86%</option>
          <option style="background: #ACFF00; color: #000;">84%</option>
          <option style="background: #B0FF00; color: #000;">82%</option>
          <option style="background: #B4FF00; color: #000;">80%</option>
          <option style="background: #B8FF00; color: #000;">78%</option>

          <option style="background: #BCFF00; color: #000;">76%</option>
          <option style="background: #C0FF00; color: #000;">74%</option>
          <option style="background: #C4FF00; color: #000;">72%</option>
          <option style="background: #C8FF00; color: #000;">70%</option>
          <option style="background: #CCFF00; color: #000;">68%</option>
          <option style="background: #D0FF00; color: #000;">66%</option>
          <option style="background: #D4FF00; color: #000;">64%</option>
          <option style="background: #D8FF00; color: #000;">62%</option>
          <option style="background: #DCFF00; color: #000;">60%</option>
          <option style="background: #E0FF00; color: #000;">58%</option>
          <option style="background: #E4FF00; color: #000;">56%</option>
          <option style="background: #E8FF00; color: #000;">54%</option>
          <option style="background: #ECFF00; color: #000;">52%</option>

          <option style="background: #F8FF00; color: #000;">50%</option>

          <option style="background: #FFFC00; color: #000;">48%</option>
          <option style="background: #FFF800; color: #000;">46%</option>
          <option style="background: #FFF400; color: #000;">44%</option>
          <option style="background: #FFF000; color: #000;">42%</option>
          <option style="background: #FFEC00; color: #000;">40%</option>
          <option style="background: #FFE800; color: #000;">38%</option>

          <option style="background: #FFE400; color: #000;">36%</option>
          <option style="background: #FFE000; color: #000;">34%</option>
          <option style="background: #FFDC00; color: #000;">32%</option>
          <option style="background: #FFD800; color: #000;">30%</option>
          <option style="background: #FFD400; color: #000;">28%</option>
          <option style="background: #FFD000; color: #000;">26%</option>
          <option style="background: #FFCC00; color: #000;">24%</option>
          <option style="background: #FFC800; color: #000;">22%</option>
          <option style="background: #FFC400; color: #000;">20%</option>
          <option style="background: #FFC000; color: #000;">18%</option>
          <option style="background: #FFBC00; color: #000;">16%</option>
          <option style="background: #FFB800; color: #000;">14%</option>
          <option style="background: #FFB400; color: #000;">12%</option>
          <option style="background: #FFB000; color: #000;">10%</option>
          <option style="background: #FFAC00; color: #000;">8%</option>
          <option style="background: #FFA800; color: #000;">6%</option>
          <option style="background: #FFA400; color: #000;">4%</option>
          <option style="background: #FFA000; color: #000;">2%</option>
          <option style="background: #FF9C00; color: #000;">0%</option>
        </select>

      </td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>60%</td>
      <td>40%</td>
      <td>
       <select class="selectpicker" name="response[r41]">
          <option>Satisfaction</option>
          
          <option style="background: #8CFF00; color: #000;">100%</option>
          <option style="background: #90FF00; color: #000;">98%</option>
          <option style="background: #94FF00; color: #000;">96%</option>
          <option style="background: #98FF00; color: #000;">94%</option>
          <option style="background: #9CFF00; color: #000;">92%</option>
          <option style="background: #A0FF00; color: #000;">90%</option>
          <option style="background: #A4FF00; color: #000;">88%</option>
          <option style="background: #A8FF00; color: #000;">86%</option>
          <option style="background: #ACFF00; color: #000;">84%</option>
          <option style="background: #B0FF00; color: #000;">82%</option>
          <option style="background: #B4FF00; color: #000;">80%</option>
          <option style="background: #B8FF00; color: #000;">78%</option>

          <option style="background: #BCFF00; color: #000;">76%</option>
          <option style="background: #C0FF00; color: #000;">74%</option>
          <option style="background: #C4FF00; color: #000;">72%</option>
          <option style="background: #C8FF00; color: #000;">70%</option>
          <option style="background: #CCFF00; color: #000;">68%</option>
          <option style="background: #D0FF00; color: #000;">66%</option>
          <option style="background: #D4FF00; color: #000;">64%</option>
          <option style="background: #D8FF00; color: #000;">62%</option>
          <option style="background: #DCFF00; color: #000;">60%</option>
          <option style="background: #E0FF00; color: #000;">58%</option>
          <option style="background: #E4FF00; color: #000;">56%</option>
          <option style="background: #E8FF00; color: #000;">54%</option>
          <option style="background: #ECFF00; color: #000;">52%</option>

          <option style="background: #F8FF00; color: #000;">50%</option>

          <option style="background: #FFFC00; color: #000;">48%</option>
          <option style="background: #FFF800; color: #000;">46%</option>
          <option style="background: #FFF400; color: #000;">44%</option>
          <option style="background: #FFF000; color: #000;">42%</option>
          <option style="background: #FFEC00; color: #000;">40%</option>
          <option style="background: #FFE800; color: #000;">38%</option>

          <option style="background: #FFE400; color: #000;">36%</option>
          <option style="background: #FFE000; color: #000;">34%</option>
          <option style="background: #FFDC00; color: #000;">32%</option>
          <option style="background: #FFD800; color: #000;">30%</option>
          <option style="background: #FFD400; color: #000;">28%</option>
          <option style="background: #FFD000; color: #000;">26%</option>
          <option style="background: #FFCC00; color: #000;">24%</option>
          <option style="background: #FFC800; color: #000;">22%</option>
          <option style="background: #FFC400; color: #000;">20%</option>
          <option style="background: #FFC000; color: #000;">18%</option>
          <option style="background: #FFBC00; color: #000;">16%</option>
          <option style="background: #FFB800; color: #000;">14%</option>
          <option style="background: #FFB400; color: #000;">12%</option>
          <option style="background: #FFB000; color: #000;">10%</option>
          <option style="background: #FFAC00; color: #000;">8%</option>
          <option style="background: #FFA800; color: #000;">6%</option>
          <option style="background: #FFA400; color: #000;">4%</option>
          <option style="background: #FFA000; color: #000;">2%</option>
          <option style="background: #FF9C00; color: #000;">0%</option>
        </select>
      </td>
     </tr>
     <tr>
      <th scope="row">5</th>
      <<td>60%</td>
      <td>40%</td>      <td>
       <select class="selectpicker" name="response[r41]">
          <option>Satisfaction</option>
          
          <option style="background: #8CFF00; color: #000;">100%</option>
          <option style="background: #90FF00; color: #000;">98%</option>
          <option style="background: #94FF00; color: #000;">96%</option>
          <option style="background: #98FF00; color: #000;">94%</option>
          <option style="background: #9CFF00; color: #000;">92%</option>
          <option style="background: #A0FF00; color: #000;">90%</option>
          <option style="background: #A4FF00; color: #000;">88%</option>
          <option style="background: #A8FF00; color: #000;">86%</option>
          <option style="background: #ACFF00; color: #000;">84%</option>
          <option style="background: #B0FF00; color: #000;">82%</option>
          <option style="background: #B4FF00; color: #000;">80%</option>
          <option style="background: #B8FF00; color: #000;">78%</option>

          <option style="background: #BCFF00; color: #000;">76%</option>
          <option style="background: #C0FF00; color: #000;">74%</option>
          <option style="background: #C4FF00; color: #000;">72%</option>
          <option style="background: #C8FF00; color: #000;">70%</option>
          <option style="background: #CCFF00; color: #000;">68%</option>
          <option style="background: #D0FF00; color: #000;">66%</option>
          <option style="background: #D4FF00; color: #000;">64%</option>
          <option style="background: #D8FF00; color: #000;">62%</option>
          <option style="background: #DCFF00; color: #000;">60%</option>
          <option style="background: #E0FF00; color: #000;">58%</option>
          <option style="background: #E4FF00; color: #000;">56%</option>
          <option style="background: #E8FF00; color: #000;">54%</option>
          <option style="background: #ECFF00; color: #000;">52%</option>

          <option style="background: #F8FF00; color: #000;">50%</option>

          <option style="background: #FFFC00; color: #000;">48%</option>
          <option style="background: #FFF800; color: #000;">46%</option>
          <option style="background: #FFF400; color: #000;">44%</option>
          <option style="background: #FFF000; color: #000;">42%</option>
          <option style="background: #FFEC00; color: #000;">40%</option>
          <option style="background: #FFE800; color: #000;">38%</option>

          <option style="background: #FFE400; color: #000;">36%</option>
          <option style="background: #FFE000; color: #000;">34%</option>
          <option style="background: #FFDC00; color: #000;">32%</option>
          <option style="background: #FFD800; color: #000;">30%</option>
          <option style="background: #FFD400; color: #000;">28%</option>
          <option style="background: #FFD000; color: #000;">26%</option>
          <option style="background: #FFCC00; color: #000;">24%</option>
          <option style="background: #FFC800; color: #000;">22%</option>
          <option style="background: #FFC400; color: #000;">20%</option>
          <option style="background: #FFC000; color: #000;">18%</option>
          <option style="background: #FFBC00; color: #000;">16%</option>
          <option style="background: #FFB800; color: #000;">14%</option>
          <option style="background: #FFB400; color: #000;">12%</option>
          <option style="background: #FFB000; color: #000;">10%</option>
          <option style="background: #FFAC00; color: #000;">8%</option>
          <option style="background: #FFA800; color: #000;">6%</option>
          <option style="background: #FFA400; color: #000;">4%</option>
          <option style="background: #FFA000; color: #000;">2%</option>
          <option style="background: #FF9C00; color: #000;">0%</option>
        </select>
        
      </td>
     </tr>
     <tr>
      <th scope="row">6</th>
     <td>60%</td>
      <td>40%</td>
      <td>
         <select class="selectpicker" name="response[r41]">
          <option>Satisfaction</option>
          
          <option style="background: #8CFF00; color: #000;">100%</option>
          <option style="background: #90FF00; color: #000;">98%</option>
          <option style="background: #94FF00; color: #000;">96%</option>
          <option style="background: #98FF00; color: #000;">94%</option>
          <option style="background: #9CFF00; color: #000;">92%</option>
          <option style="background: #A0FF00; color: #000;">90%</option>
          <option style="background: #A4FF00; color: #000;">88%</option>
          <option style="background: #A8FF00; color: #000;">86%</option>
          <option style="background: #ACFF00; color: #000;">84%</option>
          <option style="background: #B0FF00; color: #000;">82%</option>
          <option style="background: #B4FF00; color: #000;">80%</option>
          <option style="background: #B8FF00; color: #000;">78%</option>

          <option style="background: #BCFF00; color: #000;">76%</option>
          <option style="background: #C0FF00; color: #000;">74%</option>
          <option style="background: #C4FF00; color: #000;">72%</option>
          <option style="background: #C8FF00; color: #000;">70%</option>
          <option style="background: #CCFF00; color: #000;">68%</option>
          <option style="background: #D0FF00; color: #000;">66%</option>
          <option style="background: #D4FF00; color: #000;">64%</option>
          <option style="background: #D8FF00; color: #000;">62%</option>
          <option style="background: #DCFF00; color: #000;">60%</option>
          <option style="background: #E0FF00; color: #000;">58%</option>
          <option style="background: #E4FF00; color: #000;">56%</option>
          <option style="background: #E8FF00; color: #000;">54%</option>
          <option style="background: #ECFF00; color: #000;">52%</option>

          <option style="background: #F8FF00; color: #000;">50%</option>

          <option style="background: #FFFC00; color: #000;">48%</option>
          <option style="background: #FFF800; color: #000;">46%</option>
          <option style="background: #FFF400; color: #000;">44%</option>
          <option style="background: #FFF000; color: #000;">42%</option>
          <option style="background: #FFEC00; color: #000;">40%</option>
          <option style="background: #FFE800; color: #000;">38%</option>

          <option style="background: #FFE400; color: #000;">36%</option>
          <option style="background: #FFE000; color: #000;">34%</option>
          <option style="background: #FFDC00; color: #000;">32%</option>
          <option style="background: #FFD800; color: #000;">30%</option>
          <option style="background: #FFD400; color: #000;">28%</option>
          <option style="background: #FFD000; color: #000;">26%</option>
          <option style="background: #FFCC00; color: #000;">24%</option>
          <option style="background: #FFC800; color: #000;">22%</option>
          <option style="background: #FFC400; color: #000;">20%</option>
          <option style="background: #FFC000; color: #000;">18%</option>
          <option style="background: #FFBC00; color: #000;">16%</option>
          <option style="background: #FFB800; color: #000;">14%</option>
          <option style="background: #FFB400; color: #000;">12%</option>
          <option style="background: #FFB000; color: #000;">10%</option>
          <option style="background: #FFAC00; color: #000;">8%</option>
          <option style="background: #FFA800; color: #000;">6%</option>
          <option style="background: #FFA400; color: #000;">4%</option>
          <option style="background: #FFA000; color: #000;">2%</option>
          <option style="background: #FF9C00; color: #000;">0%</option>
        </select>
        
      </td>
     </tr>
     <tr>
      <th scope="row">7</th>
      <td>60%</td>
      <td>40%</td>
      <td>
        <select class="selectpicker" name="response[r41]">
          <option>Satisfaction</option>
          
          <option style="background: #8CFF00; color: #000;">100%</option>
          <option style="background: #90FF00; color: #000;">98%</option>
          <option style="background: #94FF00; color: #000;">96%</option>
          <option style="background: #98FF00; color: #000;">94%</option>
          <option style="background: #9CFF00; color: #000;">92%</option>
          <option style="background: #A0FF00; color: #000;">90%</option>
          <option style="background: #A4FF00; color: #000;">88%</option>
          <option style="background: #A8FF00; color: #000;">86%</option>
          <option style="background: #ACFF00; color: #000;">84%</option>
          <option style="background: #B0FF00; color: #000;">82%</option>
          <option style="background: #B4FF00; color: #000;">80%</option>
          <option style="background: #B8FF00; color: #000;">78%</option>

          <option style="background: #BCFF00; color: #000;">76%</option>
          <option style="background: #C0FF00; color: #000;">74%</option>
          <option style="background: #C4FF00; color: #000;">72%</option>
          <option style="background: #C8FF00; color: #000;">70%</option>
          <option style="background: #CCFF00; color: #000;">68%</option>
          <option style="background: #D0FF00; color: #000;">66%</option>
          <option style="background: #D4FF00; color: #000;">64%</option>
          <option style="background: #D8FF00; color: #000;">62%</option>
          <option style="background: #DCFF00; color: #000;">60%</option>
          <option style="background: #E0FF00; color: #000;">58%</option>
          <option style="background: #E4FF00; color: #000;">56%</option>
          <option style="background: #E8FF00; color: #000;">54%</option>
          <option style="background: #ECFF00; color: #000;">52%</option>

          <option style="background: #F8FF00; color: #000;">50%</option>

          <option style="background: #FFFC00; color: #000;">48%</option>
          <option style="background: #FFF800; color: #000;">46%</option>
          <option style="background: #FFF400; color: #000;">44%</option>
          <option style="background: #FFF000; color: #000;">42%</option>
          <option style="background: #FFEC00; color: #000;">40%</option>
          <option style="background: #FFE800; color: #000;">38%</option>

          <option style="background: #FFE400; color: #000;">36%</option>
          <option style="background: #FFE000; color: #000;">34%</option>
          <option style="background: #FFDC00; color: #000;">32%</option>
          <option style="background: #FFD800; color: #000;">30%</option>
          <option style="background: #FFD400; color: #000;">28%</option>
          <option style="background: #FFD000; color: #000;">26%</option>
          <option style="background: #FFCC00; color: #000;">24%</option>
          <option style="background: #FFC800; color: #000;">22%</option>
          <option style="background: #FFC400; color: #000;">20%</option>
          <option style="background: #FFC000; color: #000;">18%</option>
          <option style="background: #FFBC00; color: #000;">16%</option>
          <option style="background: #FFB800; color: #000;">14%</option>
          <option style="background: #FFB400; color: #000;">12%</option>
          <option style="background: #FFB000; color: #000;">10%</option>
          <option style="background: #FFAC00; color: #000;">8%</option>
          <option style="background: #FFA800; color: #000;">6%</option>
          <option style="background: #FFA400; color: #000;">4%</option>
          <option style="background: #FFA000; color: #000;">2%</option>
          <option style="background: #FF9C00; color: #000;">0%</option>
        </select>
        
      </td>
     </tr>
     <tr>
      <th scope="row">8</th>
     <td>60%</td>
      <td>40%</td>
      <td>
         <select class="selectpicker" name="response[r41]">
          <option>Satisfaction</option>
          
          <option style="background: #8CFF00; color: #000;">100%</option>
          <option style="background: #90FF00; color: #000;">98%</option>
          <option style="background: #94FF00; color: #000;">96%</option>
          <option style="background: #98FF00; color: #000;">94%</option>
          <option style="background: #9CFF00; color: #000;">92%</option>
          <option style="background: #A0FF00; color: #000;">90%</option>
          <option style="background: #A4FF00; color: #000;">88%</option>
          <option style="background: #A8FF00; color: #000;">86%</option>
          <option style="background: #ACFF00; color: #000;">84%</option>
          <option style="background: #B0FF00; color: #000;">82%</option>
          <option style="background: #B4FF00; color: #000;">80%</option>
          <option style="background: #B8FF00; color: #000;">78%</option>

          <option style="background: #BCFF00; color: #000;">76%</option>
          <option style="background: #C0FF00; color: #000;">74%</option>
          <option style="background: #C4FF00; color: #000;">72%</option>
          <option style="background: #C8FF00; color: #000;">70%</option>
          <option style="background: #CCFF00; color: #000;">68%</option>
          <option style="background: #D0FF00; color: #000;">66%</option>
          <option style="background: #D4FF00; color: #000;">64%</option>
          <option style="background: #D8FF00; color: #000;">62%</option>
          <option style="background: #DCFF00; color: #000;">60%</option>
          <option style="background: #E0FF00; color: #000;">58%</option>
          <option style="background: #E4FF00; color: #000;">56%</option>
          <option style="background: #E8FF00; color: #000;">54%</option>
          <option style="background: #ECFF00; color: #000;">52%</option>

          <option style="background: #F8FF00; color: #000;">50%</option>

          <option style="background: #FFFC00; color: #000;">48%</option>
          <option style="background: #FFF800; color: #000;">46%</option>
          <option style="background: #FFF400; color: #000;">44%</option>
          <option style="background: #FFF000; color: #000;">42%</option>
          <option style="background: #FFEC00; color: #000;">40%</option>
          <option style="background: #FFE800; color: #000;">38%</option>

          <option style="background: #FFE400; color: #000;">36%</option>
          <option style="background: #FFE000; color: #000;">34%</option>
          <option style="background: #FFDC00; color: #000;">32%</option>
          <option style="background: #FFD800; color: #000;">30%</option>
          <option style="background: #FFD400; color: #000;">28%</option>
          <option style="background: #FFD000; color: #000;">26%</option>
          <option style="background: #FFCC00; color: #000;">24%</option>
          <option style="background: #FFC800; color: #000;">22%</option>
          <option style="background: #FFC400; color: #000;">20%</option>
          <option style="background: #FFC000; color: #000;">18%</option>
          <option style="background: #FFBC00; color: #000;">16%</option>
          <option style="background: #FFB800; color: #000;">14%</option>
          <option style="background: #FFB400; color: #000;">12%</option>
          <option style="background: #FFB000; color: #000;">10%</option>
          <option style="background: #FFAC00; color: #000;">8%</option>
          <option style="background: #FFA800; color: #000;">6%</option>
          <option style="background: #FFA400; color: #000;">4%</option>
          <option style="background: #FFA000; color: #000;">2%</option>
          <option style="background: #FF9C00; color: #000;">0%</option>
        </select>
        
      </td>
     </tr>
     <tr>
      <th scope="row">9</th>
     <td>60%</td>
      <td>40%</td>
      <td>
        <select class="selectpicker" name="response[r41]">
          <option>Satisfaction</option>
          
          <option style="background: #8CFF00; color: #000;">100%</option>
          <option style="background: #90FF00; color: #000;">98%</option>
          <option style="background: #94FF00; color: #000;">96%</option>
          <option style="background: #98FF00; color: #000;">94%</option>
          <option style="background: #9CFF00; color: #000;">92%</option>
          <option style="background: #A0FF00; color: #000;">90%</option>
          <option style="background: #A4FF00; color: #000;">88%</option>
          <option style="background: #A8FF00; color: #000;">86%</option>
          <option style="background: #ACFF00; color: #000;">84%</option>
          <option style="background: #B0FF00; color: #000;">82%</option>
          <option style="background: #B4FF00; color: #000;">80%</option>
          <option style="background: #B8FF00; color: #000;">78%</option>

          <option style="background: #BCFF00; color: #000;">76%</option>
          <option style="background: #C0FF00; color: #000;">74%</option>
          <option style="background: #C4FF00; color: #000;">72%</option>
          <option style="background: #C8FF00; color: #000;">70%</option>
          <option style="background: #CCFF00; color: #000;">68%</option>
          <option style="background: #D0FF00; color: #000;">66%</option>
          <option style="background: #D4FF00; color: #000;">64%</option>
          <option style="background: #D8FF00; color: #000;">62%</option>
          <option style="background: #DCFF00; color: #000;">60%</option>
          <option style="background: #E0FF00; color: #000;">58%</option>
          <option style="background: #E4FF00; color: #000;">56%</option>
          <option style="background: #E8FF00; color: #000;">54%</option>
          <option style="background: #ECFF00; color: #000;">52%</option>

          <option style="background: #F8FF00; color: #000;">50%</option>

          <option style="background: #FFFC00; color: #000;">48%</option>
          <option style="background: #FFF800; color: #000;">46%</option>
          <option style="background: #FFF400; color: #000;">44%</option>
          <option style="background: #FFF000; color: #000;">42%</option>
          <option style="background: #FFEC00; color: #000;">40%</option>
          <option style="background: #FFE800; color: #000;">38%</option>

          <option style="background: #FFE400; color: #000;">36%</option>
          <option style="background: #FFE000; color: #000;">34%</option>
          <option style="background: #FFDC00; color: #000;">32%</option>
          <option style="background: #FFD800; color: #000;">30%</option>
          <option style="background: #FFD400; color: #000;">28%</option>
          <option style="background: #FFD000; color: #000;">26%</option>
          <option style="background: #FFCC00; color: #000;">24%</option>
          <option style="background: #FFC800; color: #000;">22%</option>
          <option style="background: #FFC400; color: #000;">20%</option>
          <option style="background: #FFC000; color: #000;">18%</option>
          <option style="background: #FFBC00; color: #000;">16%</option>
          <option style="background: #FFB800; color: #000;">14%</option>
          <option style="background: #FFB400; color: #000;">12%</option>
          <option style="background: #FFB000; color: #000;">10%</option>
          <option style="background: #FFAC00; color: #000;">8%</option>
          <option style="background: #FFA800; color: #000;">6%</option>
          <option style="background: #FFA400; color: #000;">4%</option>
          <option style="background: #FFA000; color: #000;">2%</option>
          <option style="background: #FF9C00; color: #000;">0%</option>
        </select>
      </td>
     </tr>
     
    
  </tbody>
</table>
<style>



th{
  text-align: center;
}

  </style>

  <div class="actions lead">
    <%= link_to 'Done', done_index_url, class: 'btn btn-lg btn-secondary' %>
  </div>
         

        </div>


</div>






<style>

h3{
  text-align: center;
}
body {
 
  text-align: left;
}

.align-items-center{

border: 1px solid black;

}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  padding-top: 50px;
  text-align: center;
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  
}
</style>